*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* inizio classi utility */
.bg-purple{
    background-color: #9792E4ff;
}
.bg-light-blue{
    background-color: #B5DDFFff;
}
.d-flex{
    display: flex;
}
.flex-colum{
    flex-direction: column;
}
.margin-0{
    margin: 0 auto;
}
/* fine classi utility */
/* header */
header{
    background-color: #0084FDff;
}
.menu-hamburger{
    filter: invert(1);
}
/* fine header */

/* inizio contenitori header */
.container-header{
    margin: 0 auto;
    width: 90%;
    padding-top: 12px;
    padding-bottom: 15px;
}
.row-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-header-desktop{
    display: none;
}
/* fine contenitori header */

/* inizio contenitori main */
.container{
    width: 90%;
    margin-top: 25px;
    margin-bottom: 30px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.Get_a_demo_application{
    padding-top: 50px;
    padding-bottom: 50px;
}
.strategic_Planning_with_img{
    padding-bottom: 20px;
}
.col-66, .col-33{
    padding-top: 24px;
}

.col-50{
    margin: 10px;
  height: 70px;
  width: 100%;
  background-color: silver;
}
.content{
    height: 100vh;
    width: 100%;
}
.img-main-1{
    width: 50%;
    height: 50%;

}
/* fine contenitori main */

/* inizio responsive */
@media screen and (min-width: 768px){
    /* inizio header */
    .container-header{
        max-width: 768px;
    }
    /* fine header */
    /* inizio main */
    .container{
        height: 100vh;
        max-width: 768px;
        margin: 0 auto;
    }
    .row{
        display: flex;
        flex-direction: row;
        margin-left: -10px ;
        margin-right: -10px;
    }
    .col-33{
        width: calc(100% / 3 - 20px);
        margin: 10px;
    }
    .col-66{
        width: calc((100% / 3)*2 - 20px);
        height: 100px;
        margin: 10px;
    }
    .content{
        height: 200px;
        
    }
    
    
}
@media screen and (min-width: 1160px){
    /* header */
    .container-header{
        max-width: 1160px;
    }
    .content-header-right{
        display: none;
    }
    .content-header-desktop{
        display: inline-flex;
        align-items: center;
        color: white;
    }
    header, ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 10px;
        padding-right: 10px;
    }
    header, button{
       padding: 8px; 
       border-radius: 14px;
       border: none;
    }
    /* fine header */
    /* inizio main */
    .container{
        max-width: 1160px; 
    }
    .row{
        display: flex;
    }
    /* fine main */
}


/* fine responsive */